memcache-version/flows.json
[
    {
        "id": "807363dce40953f9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65a0a22c25cbec20",
        "type": "function",
        "z": "807363dce40953f9",
        "name": "heatingUnit.0.current_temp_degc",
        "func": "\n// create a normal client\n\nvar err;\nvar r;\nvar data;\n\nconst server = \"localhost:11211\";\n\n//context.client = new memcacheClient.MemcacheClient({ server });\ncontext.client = flow.get(\"memcache_client\");\n\n//client.(\"key\", \"test\", (err, r) => {\n//    msg.payload = r;\n//});\n//client.get(\"key\", (err, data) => {\n//    msg.payload = data;\n//});\ncontext.client.get(\"heatingUnit.0.current_temp_degc\", function (err, data) {\n    \n    var newMsg = { payload: data.value };\n    node.send(newMsg);\n});\n\n\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "memcacheClient",
                "module": "memcache-client"
            }
        ],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "9a0a7eab0666a98b",
                "bd1ce029eed79ba0",
                "7e5ced2bfacfe9f0"
            ]
        ]
    },
    {
        "id": "388cc6d17e423858",
        "type": "inject",
        "z": "807363dce40953f9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "65a0a22c25cbec20",
                "c950bd79a1ef27e7"
            ]
        ]
    },
    {
        "id": "9a0a7eab0666a98b",
        "type": "data-review",
        "z": "807363dce40953f9",
        "name": "Review data",
        "property": "payload",
        "fieldType": "msg",
        "active": true,
        "passthru": true,
        "hide": true,
        "outputs": 1,
        "x": 770,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bd1ce029eed79ba0",
        "type": "ui_gauge",
        "z": "807363dce40953f9",
        "name": "",
        "group": "4aef4ec636aa1234",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heating Unit 0",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e5ced2bfacfe9f0",
        "type": "ui_chart",
        "z": "807363dce40953f9",
        "name": "",
        "group": "4aef4ec636aa1234",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Heating Unit 0",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c950bd79a1ef27e7",
        "type": "function",
        "z": "807363dce40953f9",
        "name": "heatingUnit.1.current_temp_degc",
        "func": "\n// create a normal client\n\nvar err;\nvar r;\nvar data;\n\nconst server = \"localhost:11211\";\n\n//context.client = new memcacheClient.MemcacheClient({ server });\ncontext.client = flow.get(\"memcache_client\");\n\n//client.(\"key\", \"test\", (err, r) => {\n//    msg.payload = r;\n//});\n//client.get(\"key\", (err, data) => {\n//    msg.payload = data;\n//});\ncontext.client.get(\"heatingUnit.1.current_temp_degc\", function (err, data) {\n    \n    var newMsg = { payload: data.value };\n    node.send(newMsg);\n});\n\n\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "memcacheClient",
                "module": "memcache-client"
            }
        ],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "1460913d463bbfe2",
                "108c083b864ed1aa",
                "7e67481ca86f8963"
            ]
        ]
    },
    {
        "id": "1460913d463bbfe2",
        "type": "data-review",
        "z": "807363dce40953f9",
        "name": "Review data",
        "property": "payload",
        "fieldType": "msg",
        "active": true,
        "passthru": true,
        "hide": true,
        "outputs": 1,
        "x": 750,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "7e67481ca86f8963",
        "type": "ui_gauge",
        "z": "807363dce40953f9",
        "name": "",
        "group": "4aef4ec636aa1234",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heating Unit 1",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "108c083b864ed1aa",
        "type": "ui_chart",
        "z": "807363dce40953f9",
        "name": "",
        "group": "4aef4ec636aa1234",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Heating Unit 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "03490425d2a93217",
        "type": "ui_numeric",
        "z": "807363dce40953f9",
        "name": "",
        "label": "target hu 0",
        "tooltip": "",
        "group": "4aef4ec636aa1234",
        "order": 4,
        "width": "2",
        "height": "2",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "-10",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "8c13f9b58901586f"
            ]
        ]
    },
    {
        "id": "8c13f9b58901586f",
        "type": "function",
        "z": "807363dce40953f9",
        "name": "heatingUnit.1.target_temp_degc",
        "func": "\n// create a normal client\n\nvar err;\nvar r;\nvar data;\n\n\n//client.set(\"key\", \"test\", (err, r) => {\n//    msg.payload = r;\n//});\n//client.get(\"key\", (err, data) => {\n//    msg.payload = data;\n//});\ncontext.client = flow.get(\"memcache_client\");\n//if (!isNaN(msg.payload - parseFloat(msg.payload))){\n    context.client.set( \"heatingUnit.0.target_temp_degc\", \n                        msg.payload, \n                        {lifetime: 0},\n                        function (err, data) { });\n//}\n\n\n//client.set(\"heatingUnit.0.target_temp_degc\", msg.payload, function (err, data) {\n//});\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n\nvar server = \"localhost:11211\";\n\n//context.client = new memcacheClient.MemcacheClient({ server });\ncontext.client = flow.get(\"memcache_client\");\n\n",
        "finalize": "",
        "libs": [
            {
                "var": "memcacheClient",
                "module": "memcache-client"
            }
        ],
        "x": 710,
        "y": 380,
        "wires": [
            [
                "439cc2823cb3858a"
            ]
        ]
    },
    {
        "id": "fb1b274faccf9606",
        "type": "ui_numeric",
        "z": "807363dce40953f9",
        "name": "",
        "label": "target hu 1",
        "tooltip": "",
        "group": "4aef4ec636aa1234",
        "order": 4,
        "width": "2",
        "height": "2",
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "-10",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "5da34e87b625042d"
            ]
        ]
    },
    {
        "id": "5da34e87b625042d",
        "type": "function",
        "z": "807363dce40953f9",
        "name": "heatingUnit.1.target_temp_degc",
        "func": "\n// create a normal client\n\nvar err;\nvar r;\nvar data;\n\n//const server = \"localhost:11211\";\n\n//const client = new memcacheClient.MemcacheClient({ server });\n\n//client.set(\"key\", \"test\", (err, r) => {\n//    msg.payload = r;\n//});\n//client.get(\"key\", (err, data) => {\n//    msg.payload = data;\n//});\ncontext.client = flow.get(\"memcache_client\");\ncontext.client.set( \"heatingUnit.1.target_temp_degc\", \n                    msg.payload, \n                    {lifetime: 0},\n                    function (err, data) {});\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n\nvar server = \"localhost:11211\";\n\n//context.client = new memcacheClient.MemcacheClient({ server });\ncontext.client = flow.get(\"memcache_client\");",
        "finalize": "",
        "libs": [
            {
                "var": "memcacheClient",
                "module": "memcache-client"
            }
        ],
        "x": 710,
        "y": 680,
        "wires": [
            [
                "ae18d2ade3ffeaa4"
            ]
        ]
    },
    {
        "id": "439cc2823cb3858a",
        "type": "data-review",
        "z": "807363dce40953f9",
        "name": "Review data",
        "property": "payload",
        "fieldType": "msg",
        "active": true,
        "passthru": true,
        "hide": true,
        "outputs": 1,
        "x": 1010,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ae18d2ade3ffeaa4",
        "type": "data-review",
        "z": "807363dce40953f9",
        "name": "Review data",
        "property": "payload",
        "fieldType": "msg",
        "active": true,
        "passthru": true,
        "hide": true,
        "outputs": 1,
        "x": 950,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a294781c103b0530",
        "type": "inject",
        "z": "807363dce40953f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "03490425d2a93217"
            ]
        ]
    },
    {
        "id": "df8506766bb81489",
        "type": "inject",
        "z": "807363dce40953f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "fb1b274faccf9606"
            ]
        ]
    },
    {
        "id": "d38f4442cdc96cbf",
        "type": "inject",
        "z": "807363dce40953f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "ab1452ded2f46fde"
            ]
        ]
    },
    {
        "id": "ab1452ded2f46fde",
        "type": "function",
        "z": "807363dce40953f9",
        "name": "init_memcache_client",
        "func": "\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n\nvar server = \"localhost:11211\";\n\nflow.set(\"memcache_client\", new memcacheClient.MemcacheClient({ server }));\n\n",
        "finalize": "",
        "libs": [
            {
                "var": "memcacheClient",
                "module": "memcache-client"
            }
        ],
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4aef4ec636aa1234",
        "type": "ui_group",
        "name": "Main",
        "tab": "1c07b0515eab4031",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c07b0515eab4031",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]